<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo (Vue 복습)</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>Jimin's Todo</h1>
    <todo-list category="취업준비"></todo-list><br>
    <todo-list category="싸피"></todo-list><br>
    <todo-list category="개인"></todo-list>
  </div>
  <script>
    // 전역 컴포넌트 선언부
    Vue.component('todo-list', {
      template: `<div class="todo-list">
        <h2>{{category}}</h2>
        <input v-model="newTodo" type="text">
        <button @click="addTodo">추가</button>
        <li v-for="todo in todos" :key="todo.id">
          {{ todo.content }}
          <button @click="removeTodo(todo.id)" >완료!</button>
        </li>
      </div>`,
      props: { // 하위 컴포넌트로 데이터 전송
        category: String,
        required: true,
      },
      data: function() {
        return {
          todos: [],
          newTodo: '',
        }
      },
      methods: {
        addTodo () {
          console.log(this.newTodo)
          this.todos.push({ id: Date.now(), content: this.newTodo })
          console.log(this.todos)
          this.newTodo = ''
        },
        removeTodo (removeTodoId) {
          console.log(removeTodoId)
          this.todos = this.todos.filter(todo => {
            return todo.id !== removeTodoId
          })
        }
      },
    })
  </script>
  <script>
    // 루트 오브젝트
    const app = new Vue ({
      el: "#app"
    })
  </script>
</body>
</html>